.nav-bar {
  height: 3rem;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: x-large;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 15px;
}

.background {
  position: absolute;
  background-color: rgba(194, 194, 194, 0.204);
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post-content {
  width: 70%;
}
