.posts {
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 15px;
  padding: 10px;
}
img{
  height: 30rem;
}
.post-header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
button{
  height: max-content;
  width: max-content;
  font-size: x-small;
}